@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: 'Inter', sans-serif;
  
   --shadow-layered:
    0px 12.18px 26.54px 0px #18181B0A,
    0px 48.46px 48.46px 0px #18181B0A,
    0px 108.85px 60.88px 0px #18181B05,
    0px 193.34px 60.88px 0px #18181B03,
    0px 302.19px 60.88px 0px #18181B00;
}

/* Drag and Drop Styles for Kanban Board */
.sortable-ghost {
  opacity: 0.4;
}

.sortable-chosen {
  cursor: grabbing !important;
}

.sortable-drag {
  opacity: 0.8;
  transform: rotate(2deg);
}
