@import "tailwindcss";
@import "@nuxt/ui";

body {
  @apply m-0;
  font-family: "Geist", sans-serif;
}

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: 'DM Sans', sans-serif;
}

/* Drag and Drop Styles for Kanban Board */
.sortable-ghost {
  opacity: 0.4;
}

.sortable-chosen {
  cursor: grabbing !important;
}

.sortable-drag {
  opacity: 0.8;
  transform: rotate(2deg);
}